* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(231, 238, 157);
    color: #333;
}

/* NavBar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ee8181;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgb(0, 0, 0.1);
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #5cb85c;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    font-weight: 500;
}

/* Hero Section */
.hero {
    background-color: #baf12f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.hero img {
    max-width: 300px;
}

/* categories */
.categories {
    text-align: center;
}

.categories h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.category {
    text-align: center;
}

.category img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.category h3 {
    text-transform: capitalize;
    margin-bottom: 5px;
}

.category button {
    background-color: blue;
    border: none;
    padding: 8px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

/* Featured Product */
.featured {
    background-color: #3348e4;
    padding: 50px 20px;
    text-align: center;
}

.featured-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.product {
    background-color: #fff;
    padding: 15px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(0, 0, 0.1);
    text-align: left;
}

.product img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.product p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555;
}

.price {
    color: #5cb85c;
    font-weight: bold;
}

/* Media Queries */
@media (max-width:768px) {
    nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .categories-container {
        flex-direction: column;
    }

    .featured-container {
        flex-direction: column;
        align-items: center;
    }
}